<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem cupiditate
      earum ipsum recusandae fuga minus aut alias soluta voluptatum vel!
    </p>
  </header>
</section>
<section class="block block--dark block--skwed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
        cupiditate earum ipsum recusandae fuga minus aut alias soluta voluptatum
        vel!
      </p>
    </header>
  </div>
</section>
